apiVersion: v1
baseDomain: {{ domain }}.{{ TLD }}
metadata:
  name: {{ sub_domain }}
 
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
 
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
 
networking:
  clusterNetwork:
  - cidr: {{ pod_network }}
    hostPrefix: 23
  networkType: {{ network_type }}
  serviceNetwork:
  - {{ service_network }}
 
platform:
  none: {}
 
fips: false
 
pullSecret: '{{ pullSecret.stdout }}'
  
additionalTrustBundle: |
{{ registryCertificate.stdout  }}

sshKey: '{{ sshKey.stdout }}'

imageContentSources:
- mirrors:
  - {{ mirror_registry }}
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ mirror_registry }}
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
